/* ---------------------------------------------------
   GLOBAL STYLES
--------------------------------------------------- */

/* Body */
body {
  align-items: center;     /* vertical center */
  background-color: rgb(100, 192, 100);
  display: flex;
  font-family: Oswald, Roboto;
  height: 100vh;
  justify-content: center; /* horizontal center */
  margin: 0;
}

/* Remove Scrollbars */
::-webkit-scrollbar {
  display: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/* Page Transition Animation */
@keyframes Transformation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ---------------------------------------------------
   MAIN CONTAINER
--------------------------------------------------- */

.main-container {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: start;
  padding-left: 1%;
  padding-right: 1%;
  width: 90%;
}

/* ---------------------------------------------------
   HEADER
--------------------------------------------------- */

.header {
  background-color: rgb(74, 145, 74);
  border-bottom: solid 1px black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  height: 20%;
  margin-top: 1%;
  width: 100%;
}

/* Header Left */
.header-left-side {
  align-items: center;
  color: white;
  display: flex;
  font-size: 7vw;
  font-weight: bold;
  justify-content: center;
  margin: none;
  text-align: center;
  width: 10%;
}

/* Header Center */
.header-center {
  align-items: center;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 2.9vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Header Right */
.header-right-side {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* SDG Logo */
.sdg-logo {
  height: auto;
  margin-left: 2vw;
  width: 12vw;
}

/* ---------------------------------------------------
   TOP NAVIGATION
--------------------------------------------------- */

.top-nav {
  align-items: center;
  border-bottom: solid 1px black;
  display: flex;
  height: 5%;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 1.5%;
  padding-bottom: 1.5%;
  width: 100%;
}

/* Top Nav Buttons */
.top-nav-button {
  align-items: center;
  background-color: rgb(74, 145, 74);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  color: white;
  display: flex;
  font-family: Oswald, Roboto;
  font-size: 1.2vw;
  height: 2.5vw;
  justify-content: center;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  width: 15%;
}

.top-nav-button:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}

.top-nav-button:active {
  background-color: white;
  color: rgb(74, 145, 74);
}

/* ---------------------------------------------------
   LEFT NAVIGATION
--------------------------------------------------- */

.left-nav {
  align-items: center;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 0.5vw;
  width: 25%;
}

/* Left Nav Buttons */
.left-nav-button {
  align-items: center;
  background-color: rgb(74, 145, 74);
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  color: white;
  display: flex;
  font-family: Oswald, Roboto;
  font-size: 1.2vw;
  height: 10%;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: 5%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  width: 80%;
}

.left-nav-button:hover {
  box-shadow: 0 6px 12px rgba(0,0,0,0.6);
}

.left-nav-button:active {
  background-color: white;
  color: rgb(74, 145, 74);
}

/* ---------------------------------------------------
   MAIN CONTENT
--------------------------------------------------- */

.bottom-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.main-content {
  background-color: rgb(74, 145, 74);
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 3vw;
  font-weight: 700;
  margin-left: 1.5%;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 75%;
}

/* Category Title */
.category {
  border-bottom: solid 1px black;
  color: rgb(96, 242, 130);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Page Description */
.description {
  animation: Transformation 0.7s;
  color: white;
  flex: 1;
  font-size: 2vw;
  font-weight: 300;
  overflow-y: auto;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  width: 100%;
}

/* ---------------------------------------------------
   MODALS
--------------------------------------------------- */

/* Modal Container */
.modal {
  background-color: rgb(9, 144, 65);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  height: 40vw;
  left: 50%;
  max-width: 80%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  width: 60vw;
  z-index: 10;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Modal Header */
.modal-header {
  align-items: center;
  background-color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 10px 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.modal-header .title {
  font-size: 2vw;
  font-weight: bold;
}

.modal-header .close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  outline: none;
}

/* Modal Body */
.modal-body {
  color: white;
  flex: 1;
  overflow-y: auto;
  padding: 10px 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Modal Overlay */
#overlay {
  background-color: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* ---------------------------------------------------
   MEMBERS SECTION
--------------------------------------------------- */

.members-container {
  align-items: center;
  display: flex;
  height: 75%;
  justify-content: center;
  width: 100%;
}

.member {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.member-role {
  font-weight: 100;
}

.profile-pic {
  border-radius: 20px;
  margin: 2vw;
  margin-top: 0px;
  width: 13vw;
}

/* ---------------------------------------------------
   FOOTER
--------------------------------------------------- */

.footer {
  background-color: #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 1.5vw;
  font-weight: 100;
  margin-bottom: 1%;
  margin-top: 2%;
  padding-bottom: 0.2vw;
  padding-left: 2.1vw;
  padding-right: 2.1vw;
  padding-top: 0.2vw;
  text-align: center;
  width: 88vw;
}

/* ---------------------------------------------------
   LINKS
--------------------------------------------------- */

a {
  color: inherit;
  text-decoration: none;
}

.source-link {
  color: rgb(14, 14, 248);
}
